<footer id="footer">
  <div class="footer-inner bg-dark">
    <h2 class="text-light text-center">beautiful scenery</h2>
    <nav class="d-flex justify-content-center navbar-dark">
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <%= link_to "お問い合わせ", "#", class:"nav-link font-italic px-5" %>
        </li>
        <li class="nav-item">
          <%= link_to "お問い合わせ", "#", class:"nav-link font-italic px-5" %>
        </li>
        <li class="nav-item">
          <%= link_to "お問い合わせ", "#", class:"nav-link font-italic px-5" %>
        </li>
        <li class="nav-item">
          <%= link_to "お問い合わせ", "#", class:"nav-link font-italic px-5" %>
        </li>
      </ul>
    </nav>
    <p class="text-light text-center p-4 m-0">COPYRIGHT © beautiful scenery ALL RIGHTS RESERVED.</p>
  </div>
</footer>